# Directories
/target/
/.settings/
/.vscode/
/.idea/
/logs/

# IDE files

.classpath
.project

# Multiple files

*.iml
*.json
.~lock*

# log4j2.xml

/src/main/resources/log4j2.xml
src/main/resources/log4j2.xml
